<!--views/partials/categoryForm.ejs-->
<!-- Add/Edit Category Modal -->
<div id="categoryModal" class="modal">
    <div class="modal-content">
      <span class="close-button" id="closeModalButton">X</span>
      <h2 id="modalTitle">Add New Category</h2>
      <form id="categoryForm">
        <label for="categoryName">Name:</label>
        <input type="text" id="categoryName" name="name" required>
  
        <label for="parentCategory">Parent Category:</label>
        <select id="parentCategory" name="parentCategory">
          <option value="">None</option>
          <!-- Parent categories will be populated here -->
        </select>
  
        <label for="isDefault">Default Category:</label>
        <input type="checkbox" id="isDefault" name="isDefault">
  
        <input type="hidden" id="categoryId" name="id" value=""> <!-- This will be used for editing -->
  
        <button type="submit" class="btn btn-primary">Save Category</button>
      </form>
    </div>
  </div>
  