<!-- views/partials/categoryList.ejs-->
<!-- Category List -->
<div id="categoryList">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Parent</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Categories will be inserted here using JavaScript -->
      </tbody>
    </table>
  </div>
  