<!-- views/header.ejs -->
<header>
    <div class="container">
        <h1 class="logo"><a href="/"><%= appName %></a></h1>
        <p class="slogan"><%= appSlogan %></p>
        <nav>
            <ul>
                <li><a href="/auth/login">Login</a></li>
                <% if (currentUser) { %>
                    <li><a href="/auth/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
<% console.log('currentUser in header:', currentUser); %>

