<!-- views/index.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= appName %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>

</head>
<body>
    <!-- Header Template-->
    <%- include('header'); -%>

    <div class="container">
        <section class="introduction">
            <p>Discover the joy of stress-free finance management with <strong>ChaChing</strong>, your personal budgeting assistant designed to bring clarity and simplicity to your financial life. Whether you're saving for a dream vacation, tracking daily expenses, or managing household budgets, <strong>ChaChing</strong> is here to make every dollar count.</p>
        </section>
        <section class="features">
            <h2>Embrace Financial Freedom</h2>
            <ul>
                <li>Intuitive Budget Planning</li>
                <li>Track Expenses on the Go</li>
                <li>Your Financial Dashboard</li>
                <li>Security You Can Trust</li>
            </ul>
        </section>
        <section class="why-choose">
            <h2>Why ChaChing?</h2>
            <p><strong>ChaChing</strong> isn't merely a budgeting tool; it's a pathway to financial empowerment. Here's what sets us apart:</p>
            <ul>
                <li>Sleek and Simple</li>
                <li>Flexible for All</li>
                <li>Visual Finance Insights</li>
                <li>Community Inspired</li>
            </ul>
        </section>
        <footer>
            <p>Take the First Step Towards Smarter Budgeting with <strong>ChaChing</strong>.</p>
        </footer>
    </div>
</body>
</html>