:root {
    --light-shades: #F9FAFB; /* Athen Gray */
    --light-accent: #EDBB32; /* Tulip Tree */
    --main-brand: #A1B8BE; /* Tower Gray */
    --dark-accent: #CA6C7A; /* Contessa */
    --dark-shade: #35A998; /* Keppel */
  }



body {
    font-family: Arial, sans-serif;
    background-color: var(--main-brand);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--dark-shade);
    color: var(--light-accent);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header h1.logo {
    font-size: 36px;
    margin: 0;
}

header p.slogan {
    font-size: 18px;
    color: var(--dark-accent);
    margin: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ffa726;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #388e3c;
}

p {
    margin-top: 10px;
}

p a {
    color: #ffa726;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.error-text {
    color: red;
    text-align: center;
}

.flash-message {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    text-align: center;
  }
  
  .error-message {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  
  .success-message {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  